<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="logback.xsd">

	<appender name="file" class="ch.qos.logback.core.FileAppender">
		<file>${catalina.base}/log/zhangjunqiaoJAVA.log</file>

		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n</pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/log/zhangjunqiaoJAVA.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxIndex>10</maxIndex>
		</rollingPolicy>
	</appender>


	<logger name="org.springframework" level="WARN" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="org.apache.http" level="WARN" />

	<logger name="org.springframework.data" level="INFO" />

	<root level="INFO">
		<appender-ref ref="file" />
	</root>

</configuration>