<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/sample.css?date=20140518">
		<script src="../assets/js/jquery.min.js"></script>
        <title> 微 O </title>
    </head>
	<body>
		<div class="container">
		$screen_content
		</div>
	</body>
</html>